In [1]:
from skilift import GTFS

In [2]:
import pandas as pd
from zipfile import ZipFile
from collections import defaultdict
from typing import Dict, Set
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [3]:
fn = "/home/bmander/skilift_data/transit/google_transit.zip"

zf = ZipFile(fn, "r")

In [4]:
gtfs = GTFS(zf)

In [5]:
# get epoch time on Aptil 19, 2023 at 1:00pm pacific time
t0 = pd.Timestamp("2023-04-19 13:00:00", tz="America/Los_Angeles")
t0

Timestamp('2023-04-19 13:00:00-0700', tz='America/Los_Angeles')

In [60]:
time_secs = t0.hour * 3600 + t0.minute * 60 + t0.second

In [61]:
stop_id = gtfs.stops_with_name("Pine").iloc[0].stop_id
stop_id

1085

In [62]:
service_ids = gtfs.calendar[ t0.date() ]
service_ids

{9158, 15806, 47517, 50420, 52072, 57068, 57236}

In [63]:
stop_pattern_ids = gtfs.stop_pattern_ids[stop_id]
stop_pattern_ids

{98, 99, 100, 106, 336, 337, 342, 343, 371, 372, 374, 510}

In [67]:
# for each stop pattern associated with this stop
for stop_pattern_id in stop_pattern_ids:
    pattern = gtfs.stop_patterns[stop_pattern_id]
    j = pattern.index(stop_id)

    # for each service_id associated with this day
    for service_id in service_ids:
        key = (stop_pattern_id, service_id)

        if key not in gtfs.schedules:
            continue

        # sched is an array of shape (n_trips, n_stops, 2)
        trip_ids, sched = gtfs.schedules[key]

        timetable = sched[:, j, 1] # array of departure times

        # find the first departure after time_secs
        i = np.searchsorted(timetable, time_secs, side="left")
        print(i)

        print(time_secs, sched[i, j, 1])

        break
    break

24
46800 47100

In [7]:
# join trips and stop_times
#stop_time_trips = trips.merge(stop_times, on="trip_id")

In [9]:
# get trip_id -> stop pattern

trip_stop_patterns = stop_times.sort_values("stop_sequence").groupby(["trip_id"]) \
             .agg({"stop_id": tuple}).to_dict(orient="index")

In [10]:
# reverse to get stop pattern -> list of trip_ids

stop_pattern_trips = defaultdict(set)
for trip_id, stop_pattern in trip_stop_patterns.items():
    stop_pattern_trips[stop_pattern["stop_id"]].add(trip_id)
stop_pattern_trips = dict(stop_pattern_trips)

In [30]:
# create stop_pattern_id -> ordered list of stops

stop_patterns = list(zip(range(len(stop_pattern_trips)), stop_pattern_trips.keys()))

In [12]:
# create stop_pattern_id -> list of trip_ids

stop_pattern_id_trips = expand_pairs(zip(range(len(stop_pattern_trips)), stop_pattern_trips.values()))

In [13]:
stop_pattern_id_trips_df = pd.DataFrame(stop_pattern_id_trips, columns=["stop_pattern_id", "trip_id"])
stop_pattern_id_trips_df

       stop_pattern_id    trip_id
0                    0   55295528
1                    0   55295529
2                    0   55295530
3                    0   55295531
4                    0   55295532
...                ...        ...
27683              546  617043053
27684              546  617043693
27685              546  617043823
27686              546  617044343
27687              546  617042943

[27688 rows x 2 columns]

In [16]:
stop_times = stop_times.merge(stop_pattern_id_trips_df, on="trip_id").merge(trips, on="trip_id")

In [24]:
# pivot. columns: stop_id, index: trip_id, values: [arrival_time, depature_time]
tmp = stop_times[stop_times["stop_pattern_id"] == 0].sort_values("departure_time")
tmp = tmp.pivot(index="trip_id", columns="stop_id", values=["arrival_time", "departure_time"])
tmp

         arrival_time
stop_id         1551   1652   1662   1672   1682   11175  27420  41904  41908
trip_id
55295528        21480  21600  21720  21943  22040  22980  22260  22434  22637  \
55295529        22380  22500  22620  22843  22940  23880  23160  23334  23537
55295530        23280  23400  23520  23743  23840  24780  24060  24234  24437
55295531        24180  24300  24420  24643  24740  25680  24960  25134  25337
55295532        25080  25200  25320  25543  25640  26580  25860  26034  26237
...               ...    ...    ...    ...    ...    ...    ...    ...    ...
55296140        67080  67200  67320  67543  67640  68580  67860  68034  68237
55296141        68280  68400  68520  68743  68840  69780  69060  69234  69437
55296142        69480  69600  69720  69943  70040  70980  70260  70434  70637
55296143        70680  70800  70920  71143  71240  72180  71460  71634  71837
55296144        71880  72000  72120  72343  72440  73380  72660  72834  73037

                departure_time
stop_id   41970          1551   1652   1662   1672   1682   11175  27420
trip_id
55295528  22852          21480  21600  21720  21943  22040  22980  22260  \
55295529  23752          22380  22500  22620  22843  22940  23880  23160
55295530  24652          23280  23400  23520  23743  23840  24780  24060
55295531  25552          24180  24300  24420  24643  24740  25680  24960
55295532  26452          25080  25200  25320  25543  25640  26580  25860
...         ...            ...    ...    ...    ...    ...    ...    ...
55296140  68452          67080  67200  67320  67543  67640  68580  67860
55296141  69652          68280  68400  68520  68743  68840  69780  69060
55296142  70852          69480  69600  69720  69943  70040  70980  70260
55296143  72052          70680  70800  70920  71143  71240  72180  71460
55296144  73252          71880  72000  72120  72343  72440  73380  72660


stop_id   41904  41908  41970
trip_id
55295528  22434  22637  22852
55295529  23334  23537  23752
55295530  24234  24437  24652
55295531  25134  25337  25552
55295532  26034  26237  26452
...         ...    ...    ...
55296140  68034  68237  68452
55296141  69234  69437  69652
55296142  70434  70637  70852
55296143  71634  71837  72052
55296144  72834  73037  73252

[177 rows x 20 columns]

In [55]:
trip_stop_pattern_id = {}
for stop_pattern_id, trips in stop_pattern_id_trips:
    for trip_id in trips:
        trip_stop_pattern_id[trip_id] = stop_pattern_id

In [56]:
trip_stop_pattern_id

{}

In [41]:
stop_service_schedule = stop_time_trips.sort_values("arrival_time").groupby(["service_id", "stop_id"]).agg({
    "arrival_time": list,
    "departure_time": list,
    "trip_id": list,
    "stop_sequence": list,
}).to_dict(orient="index")

In [42]:
stops = pd.read_csv( zf.open("stops.txt") )

In [43]:
stop_id = 11080

In [44]:

service_ids = tuple(service_dates[pd.Timestamp("2023-04-02")])
service_ids

(12202, 12034)

In [45]:
stop_service_schedule[(service_ids[0], stop_id)]

{'arrival_time': [22320,
  22620,
  24120,
  24600,
  25920,
  26520,
  27720,
  28380,
  29520,
  30360,
  31140,
  31320,
  32040,
  32940,
  33060,
  33840,
  34740,
  34860,
  35640,
  36540,
  36660,
  37440,
  38340,
  38460,
  39240,
  40200,
  40260,
  41100,
  42000,
  42060,
  42900,
  43800,
  43860,
  44700,
  45600,
  45660,
  46500,
  47400,
  47460,
  48300,
  49200,
  49260,
  50100,
  51000,
  51060,
  51900,
  52800,
  52860,
  53700,
  54600,
  54660,
  55500,
  56400,
  56460,
  57300,
  58200,
  58260,
  59100,
  60000,
  60060,
  60900,
  61800,
  61920,
  62700,
  63600,
  63720,
  64500,
  65340,
  65520,
  66420,
  67320,
  67320,
  68220,
  69120,
  69120,
  70020,
  70920,
  70920,
  71820,
  72720,
  72720,
  73620,
  74520,
  74520,
  75300,
  76200,
  76320,
  77100,
  77940,
  78120,
  78840,
  79920,
  80580,
  81720,
  82320,
  83520,
  84120,
  85320,
  85920,
  87000,
  87720,
  88560,
  90120,
  90600,
  91920,
  94620,
  98280,
  102240,
  103380],
 'departure_time': [22320,
  22620,
  24120,
  24600,
  25920,
  26520,
  27720,
  28380,
  29520,
  30360,
  31140,
  31320,
  32040,
  32940,
  33060,
  33840,
  34740,
  34860,
  35640,
  36540,
  36660,
  37440,
  38340,
  38460,
  39240,
  40200,
  40260,
  41100,
  42000,
  42060,
  42900,
  43800,
  43860,
  44700,
  45600,
  45660,
  46500,
  47400,
  47460,
  48300,
  49200,
  49260,
  50100,
  51000,
  51060,
  51900,
  52800,
  52860,
  53700,
  54600,
  54660,
  55500,
  56400,
  56460,
  57300,
  58200,
  58260,
  59100,
  60000,
  60060,
  60900,
  61800,
  61920,
  62700,
  63600,
  63720,
  64500,
  65340,
  65520,
  66420,
  67320,
  67320,
  68220,
  69120,
  69120,
  70020,
  70920,
  70920,
  71820,
  72720,
  72720,
  73620,
  74520,
  74520,
  75300,
  76200,
  76320,
  77100,
  77940,
  78120,
  78840,
  79920,
  80580,
  81720,
  82320,
  83520,
  84120,
  85320,
  85920,
  87000,
  87720,
  88560,
  90120,
  90600,
  91920,
  94620,
  98280,
  102240,
  103380],
 'trip_id': [540786853,
  571643213,
  540786863,
  571643223,
  540786873,
  571643233,
  540786883,
  571643243,
  540786893,
  571643253,
  571643263,
  540786903,
  571643273,
  571643283,
  540786913,
  571643293,
  571643303,
  540786923,
  571643313,
  571643323,
  540786933,
  571643333,
  571643343,
  540786943,
  610929553,
  571643363,
  540786953,
  571643373,
  571643383,
  540786963,
  571643393,
  571643403,
  540786973,
  571643413,
  571643423,
  540786983,
  571643433,
  571643443,
  540786993,
  571643453,
  571643463,
  540787003,
  571643473,
  571643483,
  540787013,
  571643493,
  571643503,
  540787023,
  571643513,
  571643523,
  540787033,
  571643533,
  571643543,
  540787043,
  571643553,
  571643563,
  540787053,
  571643573,
  571643583,
  540787063,
  571643593,
  571643603,
  540787073,
  571643613,
  571643623,
  540787083,
  571643633,
  608645483,
  540787093,
  571643653,
  540787103,
  571643903,
  571643663,
  540787113,
  571643673,
  571643683,
  571657733,
  540787123,
  571643693,
  540787133,
  571657743,
  571643703,
  571657753,
  540787143,
  571643713,
  571657763,
  540787153,
  571643723,
  571657793,
  540787163,
  571643733,
  540787173,
  571643743,
  540787183,
  571643753,
  540787193,
  571643763,
  540787203,
  571643773,
  540787213,
  571643783,
  571643853,
  571643793,
  540787223,
  571647443,
  571643803,
  571643913,
  571660093,
  571643883],
 'stop_sequence': [88,
  106,
  88,
  106,
  88,
  106,
  88,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  106,
  88,
  106,
  88,
  106,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  106,
  88,
  106,
  88,
  106,
  88,
  106,
  88,
  106,
  88,
  106,
  88,
  106,
  106,
  106,
  88,
  106,
  106,
  106,
  106,
  106]}